<app-pro-nav></app-pro-nav>
    <div class="jumbotron jumbotron-fluid detail">
        <div class="container">   
            <div class="d-flex justify-content-around ">
                <div class="p-2 ">
                    <img src="assets/img/acc.png" alt="Nawaloka Map">
                </div>
                <div class="p-2 ">
                    <div class="d-flex justify-content-start ">
                        <div class="p-2 text-right ">
                            <p>NAME : </p>
                            <p>NIC : </p>
                        </div>
                        <div class="p-2">
                            <p>Sithum Ravishara</p>
                            <p>43690865v</p>
                        </div>
                      </div>
                </div>
                <div class="p-2 ">
                    <div class="d-flex justify-content-start ">
                        <div class="p-2 text-right ">
                            <p>AGE : </p>
                            <p>SEX : </p>
                        </div>
                        <div class="p-2 ">
                            <p>34 years</p>
                            <p>Male</p>
                        </div>
                      </div>
                </div>
                <div class="p-2">
                    <div class="d-flex justify-content-start ">
                        <div class="p-2 text-right ">
                            <p>REFERENCE NUMBER : </p>
                            <p>CONTACT : </p>
                        </div>
                        <div class="p-2 ">
                            <p>RPw00034582</p>
                            <p>071 6666 904</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <app-report-table class="table"></app-report-table>
    <app-footer></app-footer>
