<div class="top-nav">
  <div class="d-flex justify-content-end ">
    <div class="p-1">
      <a  href="#">
        <img src="assets/img/fb.png"  alt="Facebook">
      </a>
    </div>
    <div class="p-1"><a  href="#"><img src="assets/img/in.png"  alt="Linkedin"></a></div>
    <div class="p-1"><a  href="#"><img src="assets/img/twtr.png"  alt="Twitter"></a></div>
    <div class="p-1"><a  href="#"><img src="assets/img/wts.png"  alt="Whatsapp"></a></div>
    <div class="p-1"><a  href="#"><img src="assets/img/yt.png"  alt="Youtube"></a></div>
  </div>
</div>
<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <a class="navbar-brand col-1.5" href="#"><img src="assets/img/Logo.png" alt="image"></a>
    <ul class="navbar-nav col-9" id="pag-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Health First Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Health First Eye Care</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Health Services
        </a>
        <div class="dropdown-menu" style="float:left;">
          <a class="dropdown-item" href="#">Doctor Channelling</a>
          <a class="dropdown-item" href="#">Labrotary Facilities</a>
          <a class="dropdown-item" href="#">Counselling</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav  navbar-right " id="acc">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/1.jpg"
           alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/2.jpg"
           alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/3.jpg"
           alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="about-section">
  <div class="container mt-3">
    <p class="text-center" id="mini-topic">A Hospital trusted By Millions</p>
    <p class="text-center" id="topic">WELCOME TO HEALTH FIRST AYURVEDIC HOSPITAL</p>
    <p class="font-weight-bold text-center" id="para-1">The entry of Health First Hospitals into the state dominated healthcare sector in 1932, saw the ayurvedic health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.</p>
    <div class="d-flex flex-row mb-3" id="content-1">
      <div class="p-2 mr-auto "><img src="assets/img/heartcare.jpg" alt="About of HealthFirst"
                                      alt="image"></div>
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="h-mini-topic">Heart Care Center</p>
        <P class="text-center" id="h-para">Cardiology is a broad field encompassing preventive care,screening,advanced diagnostic tests,invasive and
        non-invasive procedures.post-operative management,cardic rehabilitation and a full range of surgical programmes.</P>
        <button class="button"><span>Channel Your Doctor</span></button>
      </div>
    </div>
    <div class="d-flex flex-row mb-3" id="content-2">
      <div class="p-3 flex-grow-1">
        <p id="e-para-in">"</p><P class="text-center" id="e-para">50-60% of people who are being treated for glaucoma also have dry eye syndrome.</P><p class="text-right" id="e-para-in1">"</p>
      </div>
      <div class="p-2 mr-auto "><img src="assets/img/eyecare.jpg"  alt="About of HealthFirst"
                                      alt="image"></div>
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="e-mini-topic">Eye Care Center</p>
        <p class="text-center" id="e-para-2"> Our optical dispense all varieties of branded and premium product to meet all range of optical need.</p>
        <button class="button"><span>Channel Your Doctor</span></button>
      </div>
    </div>
    <div class="d-flex flex-row mb-3" id="content-3">
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="s-mini-topic">Skin Care Center</p>
        <p class="text-center" id="s-para-2"> Health First Skin Care and Cosmetic Centre is perfectly equipped to deal with these issues. From making you look younger through skin rejuvenation, permanent hair removal, scar removal, hair transplants, plastic surgeries and eye cosmetic treatments, coupled with the best of medical technology.</p>
        <button class="button"><span>Channel Your Doctor</span></button>
      </div>
      <div class="p-2 ml-auto "><img src="assets/img/skincare.jpg" alt="About of HealthFirst"
                                     alt="image"></div>
    </div>
  </div>
</div>
<div class="event-section">
<div class="events">
  <div class="d-flex flex-row" id="event-de">
    <div class="p-2 mr-auto">
  <div id="carouselFade2" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block " src="assets/img/1.jpg"
             alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block " src="assets/img/2.jpg"
             alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block " src="assets/img/3.jpg"
             alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev " href="#carouselFade2" role="button"  data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselFade2" role="button" data-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    </div>
    <div class="p-3 flex-grow-1">
    <p class="text-center" id="table-topic">Upcoming Event Schedule</p>
      <p class="text-center" id="table-topic1">Octomber 2019</p>
      <iframe src="https://calendar.google.com/calendar/embed?src=gsf0l8tbnei7ffsg4s15elas1g%40group.calendar.google.com&ctz=Asia%2FColombo" style="border: 0 " width="500" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
</div>
</div>
<div class="explorer-section"></div>
<div class="pack">
  <div class="bg-text">
    <h1>Choose Your Medical Packages</h1>
    <div class="d-flex flex-row mb-3">
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="txt1"><a class="nav-link" href="#">Skin Care Center</a></p>
      </div>
      <div class="p-2 ml-auto "></div>
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="txt2"><a class="nav-link" href="#">Skin Care Center</a></p>
      </div>
      <div class="p-2 ml-auto "></div>
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="txt3"><a class="nav-link" href="#">Skin Care Center</a></p>
      </div>
      <div class="p-2 ml-auto "></div>
      <div class="p-3 flex-grow-1">
        <p class="text-center" id="txt4"><a class="nav-link" href="#">Skin Care Center</a></p>
      </div>
    </div>
    <p class="text-center" id="pack-dis">Collect Your 15% Discount Now.  <a href="#">Get a Membership.</a></p>
    <p class="text-center" id="pac-mini-dis">Terms and conditions apply.</p>
  </div>
</div>
<div class="contact-section">
  <div class="contact-tabs">
    <p class="text-center" id="con-topic">ENSURING THE BEST IN THE INDUSTRY</p>
    <p class="text-center" id="con-para1">Services On Your Palm</p>
<!--    <p class="text-center" id="con-para2">Health First Hospitals is committed to provide compassionate care and excellent service that transcends conventional healthcare.</p>-->
    <div class="d-flex justify-content-center ">
      <div class="p-2 ">
        <a class="nav-link" href="#" role="tab" data-toggle="tab">
          <img src="assets/img/bill.png" alt="Nawaloka Map">
          <p class="text-center" id="ser1">Bill Payments</p>
        </a>
      </div>
      <div class="p-2 ">
        <a class="nav-link" href="#" role="tab" data-toggle="tab">
          <img src="assets/img/lap.jpg" alt="Nawaloka Map">
          <p class="text-center" id="ser2">Laboratory</p>
        </a>
      </div>
      <div class="p-2 ">
        <a class="nav-link" href="#" role="tab" data-toggle="tab">
          <img src="assets/img/customer.jpg" alt="Nawaloka Map">
          <p class="text-center" id="ser3">Consultants</p>
        </a>
      </div>
      <div class="p-2 ">
        <a class="nav-link" href="#" role="tab" data-toggle="tab">
          <img src="assets/img/echnle.png" alt="Nawaloka Map">
          <p class="text-center" id="ser4">E-Channeling</p>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="map-section">
    <p class="text-center" id="Map-topic">Main Branch</p>
    <p class="text-center" id="map-para">No.23, Deshamanya H. K Dharmadasa Mawatha, Colombo 2,
      Sri Lanka.</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.50466130488!2d79.98668071413877!3d6.457559525719466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae22e6ad6547351%3A0x15e4b5ff46cfd6e0!2sHettimulla%2C%20Beruwala!5e0!3m2!1sen!2slk!4v1569327134106!5m2!1sen!2slk" width="1340" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
<div class="footer">
  <div class="d-flex">
    <div class="p-2 flex-fill" id="frst">
      <h4 class="text-center">Quick Links</h4>
      <p  >Home</p>
      <p >Our Centers</p>
      <p >News</p>
      <p >Contact Us</p>
      <p >Register</p>
      <p >Login</p>
    </div>
    <div class="p-2 flex-fill" id="scnd">
      <p  id="sec-link">About Us</p>
      <p >Medical Pckages</p>
      <p >medical Services</p>
      <p >International patients</p>
      <p >CSR projects</p>
    </div>
    <div class="p-2 flex-fill" id="foot-img">
      <h4 class="text-center">Follow us on</h4>
      <p class=" text-left"><a  href="#"><img src="assets/img/in.png"  alt="Linkedin"></a></p>
      <p class=" text-left"><a  href="#"><img src="assets/img/twtr.png"  alt="Twitter"></a></p>
      <p class="text-left"><a  href="#"><img src="assets/img/wts.png"  alt="Whatsapp"></a></p>
      <p class="text-left"> <a  href="#"><img src="assets/img/yt.png"  alt="Youtube"></a></p>
    </div>
    <div class="p-2 flex-fill">
      <h4 class="text-center">Health First Medical Center</h4>
      <p  id="sec-link1">About Us</p>
      <p >Medical Pckages</p>
      <p >medical Services</p>
      <p >International patients</p>
      <p >CSR projects</p>
    </div>
  </div>
  <div class="bot-footer">
    <p class="text-center">Copyright © Nawaloka Hospitals PLC.<br>
      23, Deshamanya H. K Dharmadasa Mawatha, Colombo 2, Sri Lanka. All rights reserved.<br>
      Solution by Fortunacreatives</p>
  </div>

</div>









