<div class="jumbotron jumbotron-fluid" id="main-block">
    <div class="container">
      <h1>Report Table</h1>      
      <p>Your recent and past reports avialable in this table. If there isn't please contact the Cutomer Care.</p>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>Report No.</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>File (pdf)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rpw00034567</td>
            <td>Defaultson</td>
            <td>def@somemail.com</td>
            <td><a href="#" title="Download Report">Download</a></td>
          </tr>      
          <tr class="table-primary">
            <td>Rpw00034567</td>
            <td>Joe</td>
            <td>joe@example.com</td>
            <td><a href="#" title="Download Report">Download</a></td>
          </tr>
          <tr class="table-success">
            <td>Rpw00034567</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td><a href="#" title="Download Report">Download</a></td>
          </tr>
          <tr class="table-danger">
            <td>Rpw00034567</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td><a href="#" title="Download Report">Download</a></td>
          </tr>
          <tr class="table-info">
            <td>Rpw00034567</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td><a href="#" title="Download Report">Download</a></td>
          </tr>
        </tbody>
      </table>
</div>
