<div class="jumbotron jumbotron-fluid" id="main-block">
    <div class="container">
      <h1 class="text-center">Consultation Room Status</h1>      
      <p class="text-center">Doctor appointmnets are allocate only to the this time table and within only 7days.</p>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>Doctor</th>
            <th>Speciality</th>
            <th>Session Start</th>
            <th>Session Close</th>
            <th>Avialbility</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dr.Ruwan Galagedara</td>
            <td>Cardiologist</td>
            <td>6.00 p.m</td>
            <td>-</td>
            <td>Avialable</td>
            <td><a routerLink="/channel" title="Download Report" >Channel</a></td>
          </tr>      
          <tr>
            <td>Dr.Sarath Haputhanthri</td>
            <td>Colon and Rectal Surgeons</td>
            <td>7.00 p.m</td>
            <td>-</td>
            <td>Avialable</td>
            <td><a routerLink="/channel" title="Download Report">Channel</a></td>
          </tr> 
          <tr>
            <td>Prof. W.P. Herath</td>
            <td>Endocrinologists</td>
            <td>6.30 p.m</td>
            <td>-</td>
            <td>Avialable</td>
            <td><a routerLink="/channel" title="Download Report">Channel</a></td>
          </tr>
          <tr>
            <td>Dr.Samaradiwakara Hettikanda</td>
            <td>Dermatologists</td>
            <td>6.30 p.m</td>
            <td>-</td>
            <td>Not Avialable</td>
            <td><a routerLink="/channel" title="Download Report">Channel</a></td>
          </tr>   
        </tbody>
      </table>
</div>

