.top-nav .p-1 img{
    height: 20px;
    width: 20px;
  }
  .top-nav .p-1{
    margin-right: 5px;
    height: 20px;
  }
  .top-nav .d-flex{
    height: 30px;
  }
  .navbar {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background: linear-gradient(45deg, rgba(48, 160, 200, 0.36) 0%, rgba(48, 160, 200, 0.36) 27%,rgba(66, 208, 212, 0.36) 27%, rgba(66, 208, 212, 0.36) 30%,rgba(57, 184, 206, 0.36) 30%, rgba(57, 184, 206, 0.36) 38%,rgba(75, 232, 218, 0.36) 38%, rgba(75, 232, 218, 0.36) 41%,rgba(38, 135, 193, 0.36) 41%, rgba(38, 135, 193, 0.36) 67%,rgba(29, 111, 187, 0.36) 67%, rgba(29, 111, 187, 0.36) 68%,rgba(20, 87, 181, 0.36) 68%, rgba(20, 87, 181, 0.36) 71%,rgba(11, 63, 175, 0.36) 71%, rgba(11, 63, 175, 0.36) 100%),linear-gradient(45deg, rgba(120, 161, 172, 0.37) 0%, rgba(120, 161, 172, 0.37) 12.5%,rgba(83, 81, 120, 0.37) 12.5%, rgba(83, 81, 120, 0.37) 25%,rgba(132, 188, 189, 0.37) 25%, rgba(132, 188, 189, 0.37) 37.5%,rgba(95, 108, 137, 0.37) 37.5%, rgba(95, 108, 137, 0.37) 50%,rgba(144, 215, 206, 0.37) 50%, rgba(144, 215, 206, 0.37) 62.5%,rgba(107, 135, 154, 0.37) 62.5%, rgba(107, 135, 154, 0.37) 75%,rgba(156, 242, 223, 0.37) 75%, rgba(156, 242, 223, 0.37) 87.5%,rgba(71, 54, 103, 0.37) 87.5%, rgba(71, 54, 103, 0.37) 100%),linear-gradient(63deg, rgb(156, 214, 233),rgb(74, 10, 132));
  }
  .navbar .navbar-brand img{
    width:130px;
    height: 145px;
    margin-bottom: 25px;
  }
  .navbar #pag-nav li a{
    color: #013541;
    font-weight: bold;
    font-size: 15px;
  }
  .navbar  #acc li a {
    color: #f1f1f1;
    font-weight: bolder;
    font-size: 15px;
  }
  .container-fluid{
    height: 85px;
  }
  .navbar-brand {
    margin-right: 0px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-nav li a {
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 8px;
    height: 45px;
  }
  .navbar-nav li a:hover{
    background-color: rgba(52, 54, 56, 0.219);
    border-radius: 5px 5px 5px 5px;
  }
  .navbar-nav li a #first{
    margin-right: 5px;
    height: 25px;
    width: 25px;
  }
  .navbar-nav li a #three{
    margin-right: 5px;
    height: 30px;
    width: 30px;
  }
  .navbar-nav li a #second{
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .top-nav .d-flex{
  background-color: #342A8E;
  }
  .navbar .navbar-nav #acc li a{
    margin-left: 5px;
  }
  .navbar  #acc  button{
    border-radius: 50px;
  }
  .navbar  #acc  ul{
 background-color: cornflowerblue;
  }