<app-pro-nav></app-pro-nav>
    <div class="cvr">
    <img alt="cover-photo" src="assets/img/1.jpg">
    </div>
    <diV class="para">
        <p class="text-center" id="topic-one">About Us</p>
        <p class="text-left" id="para-1">
            The entry of Nawaloka Hospitals into the state dominated healthcare sector in 1985, saw the private health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.<br>
            <br>As Sri Lanka’s first premier multi-specialty hospital, Nawaloka was set up to mirror reputed hospitals in the region which offered advanced medical technology and expert medical care, thus eliminating the need for people to travel out of Sri Lanka for specialized medical treatment.<br>
            <br>The Hospital was a pioneering initiative, established under the Chairmanship of Late Deshamanya H. K. Dharmadasa, to be a centre of excellence in high technology diagnostic and curative facilities. Driven by the Vision to be the Hospital of Tomorrow, the medical institution has come to be known as a centre of excellence and a preferred healthcare institution in the country.<br>
        </p>
        <p class="text-center" id="topic-two"> Chairman's Message</p>
        <p class="text-left" id="para-2">
            Providing access to the State-of-Art diagnostic and treatment technologies is a hallmark of Nawaloka Hospital. Driven by our Vision to be the Hospital of Tomorrow we give precedence to superior care, accuracy, and excellence in all we do.<br><br>
            Among the many healthy choices one can make in life, I sincerely believe Nawaloka Hospital to be a supremely healthy choice - from many perspectives. To the customer, we are a provider of the finest health care available in Sri Lanka today.<br><br>
            Our State-of-the Art technology, medical systems and procedures, skilled professionals and years of experience in the field equate to a top tier health care provider. Within the health sector too Nawaloka;s stature makes it a healthy choice amongst consultants and other professionals, who have no qualms in selecting Nawaloka as a fitting entity through which they serve the public.
            Our consultants enjoy national repute as being among the most experienced practitioners in their fields. Together, we take great pride in the quality of the care we provide and in the integrity of our institution.
        </p>
    </diV>
<app-footer></app-footer>