<div class="top-nav">
    <div class="d-flex justify-content-end ">
      <div class="p-1">
        <a  href="#">
          <img src="assets/img/fb.png"  alt="Facebook">
        </a>
      </div>
      <div class="p-1"><a  href="#"><img src="assets/img/in.png"  alt="Linkedin"></a></div>
      <div class="p-1"><a  href="#"><img src="assets/img/twtr.png"  alt="Twitter"></a></div>
      <div class="p-1"><a  href="#"><img src="assets/img/wts.png"  alt="Whatsapp"></a></div>
      <div class="p-1"><a  href="#"><img src="assets/img/yt.png"  alt="Youtube"></a></div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
      <a class="navbar-brand col-1.5" href="#"><img src="assets/img/Logo.png" alt="image"></a>
      <ul class="navbar-nav col-9" id="pag-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about">HEALTH FIRST GROUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CHANNELLING SERVICES</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            MEDICAL SERVICES
          </a>
          <div class="dropdown-menu" style="float:left;">
            <a class="dropdown-item" href="#">Doctor Channelling</a>
            <a class="dropdown-item" href="#">Labrotary Facilities</a>
            <a class="dropdown-item" href="#">Counselling</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
      </ul>
      <ul class="navbar-nav  navbar-right " id="acc">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>


  <div class="about-section row">
    <div class="container col-12 col-md-6">
      <p class="text-center" id="mini-topic">A Hospital trusted By Millions</p>
      <p class="text-center" id="topic">WELCOME TO HEALTH FIRST AYURVEDIC HOSPITAL</p>
      <p class="font-weight-bold text-center" id="para-1">The entry of Health First Hospitals into the state dominated healthcare sector in 1932, saw the ayurvedic health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.</p>
  </div> 
  <div class="container col-12 col-md-6">
    <p class="text-center" id="mini-topic">A Hospital trusted By thousands</p>
    <p class="text-center" id="topic">WELCOME TO HEALTH FIRST AYURVEDIC HOSPITAL</p>
    <p class="font-weight-bold text-center" id="para-1">The entry of Health First Hospitals into the state dominated healthcare sector in 1932, saw the ayurvedic health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.</p>
</div> 
<div class="container col-12 col-md-6">
  <p class="text-center" id="mini-topic">A Hospital trusted By Billionss</p>
  <p class="text-center" id="topic">WELCOME TO HEALTH FIRST AYURVEDIC HOSPITAL</p>
  <p class="font-weight-bold text-center" id="para-1">The entry of Health First Hospitals into the state dominated healthcare sector in 1932, saw the ayurvedic health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.</p>
</div> 
  </div>

  <div class="footer">
    <div class="d-flex">
      <div class="p-2 flex-fill" id="frst">
        <h4 class="text-center">Quick Links</h4>
        <p  >Home</p>
        <p >Our Centers</p>
        <p >News</p>
        <p >Contact Us</p>
        <p >Register</p>
        <p >Login</p>
      </div>
      <div class="p-2 flex-fill" id="scnd">
        <p  id="sec-link">About Us</p>
        <p >Medical Pckages</p>
        <p >medical Services</p>
        <p >International patients</p>
        <p >CSR projects</p>
      </div>
      <div class="p-2 flex-fill" id="foot-img">
        <h4 class="text-center">Follow us on</h4>
        <p class=" text-left"><a  href="#"><img src="assets/img/in.png"  alt="Linkedin"></a></p>
        <p class=" text-left"><a  href="#"><img src="assets/img/twtr.png"  alt="Twitter"></a></p>
        <p class="text-left"><a  href="#"><img src="assets/img/wts.png"  alt="Whatsapp"></a></p>
        <p class="text-left"> <a  href="#"><img src="assets/img/yt.png"  alt="Youtube"></a></p>
      </div>
      <div class="p-2 flex-fill">
        <h4 class="text-center">Health First Medical Center</h4>
        <p  id="sec-link1">About Us</p>
        <p >Medical Pckages</p>
        <p >medical Services</p>
        <p >International patients</p>
        <p >CSR projects</p>
      </div>
    </div>
    <div class="bot-footer">
      <p class="text-center">Copyright © Nawaloka Hospitals PLC.<br>
        23, Deshamanya H. K Dharmadasa Mawatha, Colombo 2, Sri Lanka. All rights reserved.<br>
        Solution by Fortunacreatives</p>
    </div>
  
  </div>
