<div class="channel-form">
    <form class="form-inline" >
        <label for="email" class="mr-sm-2">Choose a Doctor</label>
        <div class="btn-group" dropdown id="doctor">
            <button id="button-animated" dropdownToggle type="button" class="btn  dropdown-toggle"
                    aria-controls="dropdown-animated">
              Select Your Doctor <span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else
                here</a></li>
            </ul>
          </div>
    </form>
    <form class="form-inline" >
        <label for="email" class="mr-sm-2">Patient Name*</label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter email" id="patient">
    </form>
    <form class="form-inline">
        <label for="pwd" class="mr-sm-2">Payee Address*</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="address">
    </form>
    <form class="form-inline">
        <label for="pwd" class="mr-sm-2">Payee Email*</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="email">
    </form>
    <form class="form-inline">
        <label for="pwd" class="mr-sm-2">Telephone Number - Personal*</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="personal">
    </form>
    <form class="form-inline">
        <label for="pwd" class="mr-sm-2">Telephone Number - Work*</label>
        <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="work">
    </form>
    <form class="form-inline">
        <div class="form-check mb-2 mr-sm-2" id="checkbox">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
        </label>
        </div>
    </form>
    <p>Terms & Conditions</p>
    <p>Special Note: This Payment Is For A Booking Only!</p>
    <ul>
        <li>Appointment Date & Time will be confirmed only after you contact a call center agent only.</li>
        <li>Please note that you might not get the same session you are expecting.</li>
        <li>If that session is already finished you will get the appointment from a different session.</li>
        <li>Management has sole authority to cancel any appointment and issue you a new appointment number with a new date and time.</li>
        <li>This service does not include any refund.</li>
        <li>This service does not include any refund.</li>
    </ul>
        <button type="submit" class="btn btn-primary mb-2" id="submit">Pay Now</button>
</div>
